* {
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: 100px;
}

nav {
    display: flex;
    background-color: rgb(0, 140, 255);
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 60px;
    width: 100%;
}

nav div {
    display: flex;
    align-items: center;
    display: none;

}

nav button {
    padding: 0.5em;
    border: none;
    border-radius: 50px;
    margin-left: 10px;
}


.prima-section button {
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: rgb(19, 5, 146);
    color: white;
}

ul {
    display: flex;
    list-style: none;
    
}

li {
    padding-right: 10px;
}





.testo {
    padding-top: 2rem;
}


.prima-section .card {
    background-color: rgb(186, 217, 229);
   padding-left: 1rem;
  
   margin-bottom: 1rem;
   border-radius: 20px;

}



.prima-section .card img {
    width: 100%;
    max-height:340px ;
    max-width: 340px;
}
.prima-section .card h2 {
color: rgb(30, 34, 255);
}
.prima-section .card h2,p {
    padding-bottom: 1rem;
}

.card button {
    margin-left: 2rem;
    margin-bottom: 1rem;
    width: 200px;
}

.prima-section .container {
  
}




.testo {
    margin-left: 2rem;
}

 .prima-section .col-1-3 i {
    font-size: 100px;
 color: rgb(4, 0, 255);
}



   


.prima-section .col-1-3 i {
    display: block;
    padding-top:2rem ;
    padding-bottom: 2rem;
    text-align: center;
}



.seconda-section {
    background-color: rgb(194, 152, 228);
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    display: flex;
    justify-content: center;
}

.secondo h2 {
 
    text-align: center;
    margin: 1rem   0 ;

}

img {
    width: 100%;
}


.tipaColPc {
    text-align: center;
}

.secondaSection {
    background-color: white;
    border-radius: 30px;
   color: black;
   text-align: center;
   margin-right:2rem ;
   margin-left:2rem ;
  
}

.secondaSection p {
    text-align: center;
    font-style: italic;
}

section {
    padding: 2rem;
}

.seconda-section button {
    border-radius: 100px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgb(194, 152, 228);
 

}    


.seconda-section img {
     max-width: 500px;
}

.partnerContainer {
   margin-top: 3rem;
   text-align: center;
}

.partnerContainer h2 {
    color: rgb(194, 152, 228);
}

.partnerContainer p {
    padding-top: 1rem;
}

.testimonials {
    background-color: rgb(194, 152, 228);
    text-align: center;
    border-radius: 50px;
    color: white;
    margin-top: 2rem;
    padding: 1rem;
}

.testimonials img {
    border-radius: 100%;
    padding-right: 1rem;
    max-width: 200px;
    text-align: center;  
   height: 150px;
}

.testimonials i {
 font-size: 25px;
}

.testimonials p {
    font-size: 1.5em;
}



.terza-section {
    background-color: rgb(194, 152, 228);
    padding-top: 1rem;
    padding: 3rem;
}

.terza-section>h2 {
color: white;
}

.benefits {
background-color: white;
margin-top: 3rem;
border-radius: 25px;
padding-left:2rem ;
padding-right: 2rem;
padding-bottom: 3rem;
}

.benefits button{
    width: 150px;
    padding: 1em;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: rgb(194, 152, 228);
}
 .title-container {
    padding-top: 3rem;
}

.title-container h2 {
    padding-bottom: 1rem;
    font-size: 2em;
    color: rgb(194, 152, 228);;
}

.terza-section{
    margin-top: 5rem;
}


.terza-section>h2 {
    text-align: center;
    padding-top: 3rem;
}

.quarta-section {
    padding: 3rem;
   
}

.quarta-section img {
    border-radius: 100%;
    max-width: 200px;
}

.quarta-section h2 {
    padding-bottom: 2rem;
}

.quarta-section p {
    line-height: 2em;
}

.quarta-section h2 {
    font-size: 2em;
    color: rgb(194, 152, 228);
}
.quarta-section button {
    background-color: rgb(194, 152, 228); 
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    border: none;
}

.quinta-section {
    background-color: rgb(194, 152, 228);
    text-align: center;   
    color: white;
    padding-top: 3rem;
}

.quinta-section h2 {
    padding-bottom: 1rem;
}

.quinta-section button {
    margin: 1rem 0;
    width: 250px;
    padding: 1em;
    border-radius: 20px;
    border: none;
    height: 50px;
    color: rgb(194, 152, 228);
    font-style: bold;
   
}

.arancione {
    color: orange;
    font-size: 3rem;
}

.quinta-section a {
    color: white;
}

footer {
    background-color: rgb(53, 53, 53);
    padding:2rem;
    color: white;
    text-align: center;
}

footer p {
    padding-bottom: 4rem;
}

footer a {
    color: rgb(194, 152, 228);
}




@media  screen and (min-width:768px) {

    .card {
        margin-right: 2rem;
    }

.flex-card{
    display: flex;
}

.prima-section {
    line-height: 1.5em;
}

.prima-section .col-2-3 {}




.prima-section .col-1-3 p {
    text-align: center;
}

.prima-section .col-1-3 {
    padding: 1rem;
}

.testimonials {
    display: flex;
    text-align: left;
    align-items: center;
}

.row-benefits {
    
    display: flex;
    flex-wrap: wrap;
    padding: ;
}

.benefits {
   width: 45%;
   margin-right: 2rem;
}

.quarta-section {
    display: flex;
}
.profilo-linkedin  {

    padding-left:4em;
}

.testo-lungo h2 {
    font-size:4em ;
}

.profilo-linkedin h2 {
    padding-top: 1em;
    font-size: 1.5em;
}

.terza-section h2 {
    font-size: 2rem;
}

.title-container h2:first-child {
font-size:3em ;
}

}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {

    .card button {
        margin-left: 0px;
        margin-bottom: 0px;
    }

    .secondaSection{
        margin-top: 20rem;
        height: 500px;
        width: 400px;
    }
    .secondaSection img {
    width: 300px;
    }
    .secondaSection p {
        padding:1rem
    }

    .secondo-container {
        display: flex;
    }

    .tipaColPc {
        max-width:500px ;
        text-align: left;
    }

    .tipaColPc h2 {
        padding-top: 3rem;
        padding-bottom:2rem ;
    }

    .benefits {
        justify-content: center;
        width: 30%;
    }

    .testimonials {
        padding: 2rem;
        font-size: 1em;
    }
   nav i {
    display: none;
   }
}

    